html, body {
    font-family: 'roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

#code {
    color: #ff5c0f;
}
button {
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: #20a8b4;
    color: #fff;
}

header {
    background-color: #F2F2F2;
    padding: 10px;

}
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin: 0px 0px 10px 0px;
}
h1 {
    color: #20a8b4;
}

section {
    padding: 10px;
}

img {
    size: 50%;
}
a:link, a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #ff5c0f;
    transition: 0.7s;
}
button:hover {
    background-color: #ff5c0f;
    transition: 0.7s;
    cursor: pointer;
}
/*This media css option gives us control over what style the desktop form will adopt */
@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-end;
        text-align: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        padding: 15px;
        align-items: end;
        gap: 10px;
    }

    h1 {
        position: absolute;
        left: 0;
        margin: 10px;
    }
    button {
        width: auto;
    }

    .side-by-side-container {
        display: flex;
        align-items: center;
        margin: 75px 0 0 0;
    }

    .side-by-side-item {
        width: 50%
    }

}
/*Setting max-width to 429 will give mobile users the coded found in this block, including displaying none for the image */ 
@media screen and (max-width: 429px) {
    #desktop-only {
        display: none;
    }
}

